{% extends "master.html" %}

{% block title %}
  List of Riders
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title">Best and Worst Progression Compared to Last Week</h1>
    
    <div class="ranking-container">
        {% for x in data %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="ranking-row">
        {% endif %}
        <div class="ranking-column">
            
            <ul class="race-results-list">
                {% for i, rider in x %}
                <li class="race-result-item">
                    <span class="position">{{ i }}</span>
                    
                    <a href="/riders/{{ rider.id }}" class="rider-link">{{ rider }}</a>
                    <span class="rating-change {% if rider.rating_change > 0 %}positive{% elif rider.rating_change == 0 %} null {% else %}negative{% endif %}">{{ rider.rating_change }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
