{% extends "master.html" %}

{% block title %}
  List of Riders
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title">Best and worst progression compared to last week</h1>


  
    <ul class="race-results-list">
        {% for x in data %}
        {% for i, rider in x %}
         {% if i == 1 %}
            <span class="race-category"> {{rider.ratingtype}}</span>
            {% endif %} 
        <li class="race-result-item">
            <span class="position">{{ i }}</span>
            <span class="rating-change {% if rider.rating_change > 0 %}positive{% elif rider.rating_change == 0 %} null {% else %}negative{% endif %}">{{ rider.rating_change }}</span>
            <a href="/riders/{{ rider.id }}" class="rider-link">{{ rider }}</a>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>

    

    <div class="rider-list">
        {% for x in data %}
            {% for rider in x %}
            
                <a href="/riders/{{ rider.id }}">
                    <h2>{{ rider.firstname }} {{ rider.lastname }} {{rider.rating_change}}</h2>
                </a>
            
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}