{% extends "master.html" %}

{% block title %}
  CX France
{% endblock %}


{% block content %}
  <h1>Recent Races - Top 3 Results</h1>

  {% for race, podium in raceandpodiums %}
    <div class="race-container">
      <h2><a href="/races/{{race.id}}" >{{ race.name }} - {{ race.date }}</a></h2>
      
      <ul class="podium-list">
        {% for result in podium %}
        {% if result.position == 1 %}
            <span class="race-category"> {{result.race_category}}</span>
            {% endif %} 
          <li>
            
              
              

            <span class="position">#{{ result.position }}</span>
            <span class="rider">
              <a href="/riders/{{ result.rider.id }}">{{ result.rider }}</a>
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endblock %}